@import "tailwindcss";

@font-face {
  font-family: roboto;
  src: url(../public/Roboto-VariableFont_wdth\,wght.ttf);
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
/* Custom Scrollbar Styling */
@layer base {
  ::-webkit-scrollbar {
    width: 4px; /* Makes it thin and sleek */
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Keeps the background clean */
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* Slate-300 color */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ae1417; /* Matches your Red theme on hover */
  }
}